*.ps
*.out
*.log
*.aux
*.dvi

octave-core
*.o
*.log
*~
*.m~
*.gz
*.synctex.gz
*.nav
*.snm
*.toc
#*#
.#*
#*

CMakeCache.txt
cmake_install.cmake
CMakeFiles

build
test_msgq_client
set_custom_speed
sbus_comm
test_msgq_client
test_leer_gps

*bbl
*blg
